<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessify</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<div id="container">
    <nav id="nav-bar">
        <div class = "guess_name">
            <h1 id ="guess">Guessify</h1>
        </div>
        <span id="user-name"></span>


        <button id="settings-button">⚙️</button>
        <button id="logout-button">Logout</button>
    </nav>

    <div id="game">
        <div id="room-section">
            <div id="room-options">
                <h2>Room Options</h2>
                <div id="create-join-room">
                    <input type="text" id="roomNumber" placeholder="Enter Room Number">
                    <button onclick="createRoom()">Create Room</button>
                    <button id="join-room-button" >Join Room</button>
                </div>
            </div>

            <div id="available-rooms-section">
                <h3>Available Rooms</h3>
                <div id="available-rooms">
                    <ul id="rooms-list"></ul>
                </div>
            </div>
        </div>

        <div id="user-panel" style="display: none;">
            <h3>Players:</h3>
            <ul id="players-list"></ul>
        </div>

        <div id="game-section" style="display: none;">
            <div id="round-number" style="display: none;"></div>
            <div id="round-timer" style="display: none;"></div>
            <div id="round-content"></div>
            <div id="hint-display"></div>
            <div id="room-actions">
                <div>
                    <button id="submit-answer" style="display: none;" onclick="openModal()">Submit Answer</button>
                    <div class="hint-section">
                        <button id="give-hint-button" onclick="giveHint()" style="display: none;">Give Hint</button>
                        <p id="hint-cost-note" style="display: none;">Hint costs 1 point if answer is correct</p>
                    </div>
                </div>
                <button id="leave-room-button" onclick="leaveRoom()">Leave Room</button>
            </div>
        </div>

        <div id="winner-message" style="display: none;"></div>
        <button id="rejoin-room-button" onclick="reJoinRoom()" style="display: none;">Rejoin</button>
        <button id="back-to-main-menu-button" onclick="backToMainMenu()" style="display: none;">Main Menu</button>

        <div id="countdown-timer" style="display: none;">
            The game starts in <span id="timer">60</span> seconds.
        </div>

        <div id="error-message" style="display: none;"></div>


        <div id="answerModal" class="modal">
            <div class="modal-content">
                <span class="close-modal" onclick="closeModal()">&times;</span>
                <p>Enter your answer number (1-6):</p>
                <input type="number" id="answerInput" min="1" max="6" />
                <button onclick="submitAnswer()">Submit Answer</button>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="../static/js/home.js"></script>

<div id="settings-modal" class="modal">
    <div class="modal-content">
        <span class="close-modal" onclick="closeSettingsModal()">&times;</span>
        <h2>Settings</h2>
        <div class="settings-option">
            <label>
                <input type="checkbox" id="bg-music-toggle" checked>
                Background Music . 
            </label>
            <label for="volume-control">Sound Effects Volume:</label>
            <input type="range" id="volume-control" min="0" max="100" step="1" value="100">
        </div>
        <div class="settings-option">
            <label>
                <input type="checkbox" id="dark-mode-toggle" checked>
                Dark Mode
            </label>
        </div>
        <div class="settings-option">
            <button id="about-button">About</button>
        </div>
    </div>
</div>

<div id="about-modal" class="modal">
    <div class="modal-content">
        <span class="close-modal" onclick="closeAboutModal()">&times;</span>
        <h2>About the Game</h2>
        <p>
            A simple questions game, the questions are generated by Artificial Intelligence and consist of 5 rounds, 60 seconds for each.
            You need to understand the text talking about some topic and guess the correct option quickly to win.
        </p>
    </div>
</div>





<div id="flag-animation" style="display: none;"></div>



</body>
</html>
